.heading-about{
    color: rgb(187,37,40);
    font-family:"Grandd Hotel",undefined;
    font-size:14px;
    font-weight:400;
    text-align:left;
}
.heading-all_kind{
    font-family:"Playfair Display", serif;
    font-weight:600;
    color:#232323;
    font-size:56px;
}
.text-christmas{
    color:#4f4f4f ;
    font-size:16px;
    font-family: "Fira Sans",sans-serif;
    font-weight: 400;
    text-align:left;
 }
.text-about-us{
    background-color: #e7e4df ;
}
