.heading-about{
    color: rgb(187,37,40);
    font-family:"Grandd Hotel",undefined;
    font-size:14px;
    font-weight:400;
    text-align:left;
    margin-top:120px;
    
}
.heading-all_kind{
    font-family:"Playfair Display", serif;
    font-weight:600;
    color:#232323;
    font-size:56px;
    text-align:left;
    
}
.text-christmas{
    color:#4f4f4f ;
    font-size:16px;
    font-family: "Fira Sans",sans-serif;
    font-weight: 400;
    text-align:left;


 }

.about-us{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(243, 238, 232);
}

.text-about-us{
    padding-left: 30px;
}
}

.christmas_picture{
    height:100%;
    object-fit:cover;
    object-position: 25.129% 10.276%;
    line-height:28,08px;
}
.branch{
    width: 80px !important;

}
.logo{
    width:80px !important;
    display: grid;   
}

@media screen and (max-width:768px){
    .about-us{
       display:flex;
       flex-direction:column;
     
    }
}