.all_kinds {
    margin: 0;
    padding: 0;
    width: 100%;
}

.all_kinds_flb {
    display: flex;
    flex-wrap: wrap;
}

.all_kinds_bck {
    background: url();
}

.all_kinds_textb {

}

.all_kinds_textb p {
    color: rgb(187, 37, 40);
    font-size: 18px;
    font-family: "Grand Hotel";
}