.all_kinds {
    margin: 0;
    padding: 0;
    width: 100%;
}

.all_kinds_flb {
    display: flex;
    flex-wrap: wrap;
}

.all_kinds_bck {
    background: url(/img/kimnata.jpg);
}

.all_kinds_textb {
    width: 50%;
    background-color: ;
}

.all_kinds_textm {
    text-align: center;
}

.all_kinds_textm p:first-child {
    color: rgb(187, 37, 40);
    font-size: 18px;
    font-family: "Grand Hotel", undefined;
}

.all_kinds_textm h2 {
    color: rgb(35, 35, 35);
    font-family: "Playfair Display", serif;
    font-size: 34px;
}