.testimonials {
    color: rgb(187, 37, 40);
    font-family: "Grand Hotel", undefined;
    font-size: 14px;
    }
.our-happy-clients {
    color: rgb(35, 35, 35);
    font-family: "Playfair Display", serif;
    font-size: 34px;
}
.these-families {
 color: rgb(79, 79, 79);
 font-family: "Fira Sans", sans-serif;
 font-size: 18px;
}
.names {
    color: rgb(187, 37, 40);
    font-family: "Playfair Display", serif;
    font-size: 22px;
   }
.w-text-content {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    color: rgb(115, 115, 115);
    font-stretch: 100%;
    text-align: left;
    position: relative;
    }
.w-image {
    max-width: 200px;
    min-width: 200px;
    
    }
.track-clients {
    display: flex;
    margin: auto;  
    justify-content: center;
    }
.w-block-1, .w-block-2, .w-block-3 {
    padding: 10px;
}
    
      
@media screen and (max-width:720px){
    .track-clients{
       display:flex;
       flex-direction:row;
       margin: auto;  
       justify-content: center;
       padding: 30px;
    }
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}
