.testimonials {
    color: rgb(187, 37, 40);
    font-family: "Grand Hotel", undefined;
    font-size: 14px;
    }
.our-happy-clients {
    color: rgb(35, 35, 35);
    font-family: "Playfair Display", serif;
    font-size: 34px;
}
.these-families {
 color: rgb(79, 79, 79);
 font-family: "Fira Sans", sans-serif;
 font-size: 18px;
}
.names {
    color: rgb(187, 37, 40);
    font-family: "Playfair Display", serif;
    font-size: 22px;
   
}