.decorations-category-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
[
   {
      "id": "red_boot",
      "image": "",
      "model": "Red Boot",
      "price": 18
   },
   {
      "id": "jbl-gt-345",
      "image": "img/speakers-slider/jbl-gt-345.jpg",
      "model": "JBL GT-345",
      "price": 120
   },
   {
      "id": "jbl-party-pt-25",
      "image": "img/speakers-slider/jbl-party-pt-25.jpg",
      "model": "JBL Party PT-25",
      "price": 180
   },
   {
      "id": "sony-yt555",
      "image": "img/speakers-slider/sony-yt555.jpg",
      "model": "SONY YT555",
      "price": 140
   },
   {
      "id": "jbl-or-57",
      "image": "img/speakers-slider/jbl-or-57.jpg",
      "model": "JBL OR-57",
      "price": 98
   },
   {
      "id": "jbl-rr-56",
      "image": "img/speakers-slider/jbl-rr-56.jpg",
      "model": "JBL RR-56",
      "price": 110
   }
]




.red_boot {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    text-align: center;
}
.button__add-to-cart{
    color: rgb(187, 37, 40);
    text-align: center;
    margin-bottom: 10px;
}
