.shop-decorations-text-top {
    color: rgb(35, 35, 35);
    font-size: 48px;
    font-family: "Playfair Display", serif;
}




.red_boot {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    text-align: center;
}
.button__add-to-cart{
    color: rgb(187, 37, 40);
    text-align: center;
    margin-bottom: 10px;
}