<<<<<<< HEAD
.shop-decorations-text-top {
    color: rgb(35, 35, 35);
    font-size: 48px;
    font-family: "Playfair Display", serif;
}
=======
.decorations-category-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
[
   {
      "id": "red_boot",
      "image": "",
      "model": "Red Boot",
      "price": 18
   },

]
>>>>>>> a3a48381fcb7322a48ea61f262ed2752c7cb537a
