.header__nav-top-mobile{
    color: rgb(79, 79, 79);
    font-family: "Fira Sans", sans-serif;
    padding: 10px;
}
.header__top-nav-phone-mobile,.header__top-nav-email-mobile{
    color: rgb(187, 37, 40);
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
    padding: 10px;
}
.header__nav-top-mobile{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
@media(min-width:600px){
    .header__nav-top-mobile{
    display: none;
}
}
.header__nav-top{
    display: none;
}
@media(min-width:600px){
    .header__nav-top{
        display: flex;
        background-color: rgb(187, 37, 40);
        padding: 10px;
        justify-content: space-around;
        margin-left: -15px;
        margin-right: -15px;
    }
    .header__top-nav-email, .header__top-nav-phone , .header__time{
        color: #fff;
        font-size:16px ;
        font-family: "Fira Sans", sans-serif;
        text-decoration: none;
    }
    .header__top-nav-email:hover,.header__top-nav-phone:hover{
        text-decoration: underline;
    }
}
.header__logo-img{
    width: 96px;
    padding: 10px;
    position: fixed;
    top: 0%;
    left: 0%;

}
.header__menu-items {
    text-decoration: none;
    color: rgb(35, 35, 35);
    padding: 15px;
    font-family: "Fira Sans", sans-serif;;
}
.header__menu-items:hover {
    color:rgb(187, 37, 40);
    text-decoration: underline;
}
@media(min-width:600px){
    .header__menu-items{
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        margin-right: 20px;
        
    }
}
.header__fab-top{
    color: rgb(79, 79, 79);
    justify-content: space-around;
    border:solid;
    border-width: thin;
    padding: 5px 8px;
}
@media(min-width:600px){
    .header__fab-top{
        margin: 5px;
        border:solid;
        border-width: thin;
        padding: 5px 8px;
    }
    .header__fab{
        margin-right: 5px;
    }
}
}
.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}
@media(min-width:600px){
    .header__nav{
        margin-left: 250px;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
    }
}
    
.header__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(min-width:600px){
   .header__menu{
       flex-direction: row;
       justify-content: flex-end;
       flex: 1;
       padding: 15px;
       
   }
}
.header__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@media(min-width:600px){
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto; 
    margin: 20px 200px;
}
}


.header-img{
    position: relative;
    width: 100%;
    background-size: inherit;
}
.header__block-text{
    position: absolute;
    background-color: #fff;
    width: 100%;
}
.header__block-text-one{
    font-family: "Grand Hotel", undefined;
    color: rgb(187, 37, 40);
    font-size: 16px;
}
.header__block-text-top{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: rgb(35, 35, 35);
}
.header__block-text-img{
    width: 100px;
    margin: 15px 0px;
}
.header__block-text-second{
    color: rgb(79, 79, 79);
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
}
.button__header-shop{
    background-color: rgb(187, 37, 40);
    color: #fff;
    padding: 10px 25px;
    font-family:"Fira Sans", sans-serif ;
    border:rgb(187, 37, 40)solid;
    margin: 10px;
}
.button__header-learn-more {
    color: rgb(35, 35, 35);
    font-family:"Fira Sans", sans-serif ;
    border:rgb(35, 35, 35)solid;
    background-color: #fff;
    padding: 10px 25px;
    margin: 40px 15px;
}
@media(min-width:600px){
.header-img{
    position: relative;
    height: 100vh;
}
.header__block-text{
    position: absolute;
    left: 150px;
    bottom: 70px;
    width: 30%;
    height: 50%;
    background-color: #fff;
    padding: 35px 35px;
}

.header__block-text-one{
    font-family: "Grand Hotel", undefined;
    color: rgb(187, 37, 40);
    font-size: 22px;
}
.header__block-text-top{
    font-family: "Playfair Display", serif;
    font-size: 56px;
    color: rgb(35, 35, 35);
}
.header__block-text-img{
    width: 100px;
    margin: 15px 0px;
}
.header__block-text-second{
    color: rgb(79, 79, 79);
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
}
.button__header-shop{
    background-color: rgb(187, 37, 40);
    color: #fff;
    padding: 10px 25px;
    font-family:"Fira Sans", sans-serif ;
    border:rgb(187, 37, 40)solid;
    margin: 10px;
}
.button__header-learn-more {
    color: rgb(35, 35, 35);
    font-family:"Fira Sans", sans-serif ;
    border:rgb(35, 35, 35)solid;
    background-color: #fff;
    padding: 10px 25px;
    margin: 40px 15px;
}
}